.af8870f9bee30045c4542236639f3f-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1177px;
  object-fit: cover;
}
.macbook-pro-16-8-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  backdrop-filter: blur(2px);
  width: 1728px;
  height: 1177px;
}
.icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 515px;
  height: 290px;
  object-fit: cover;
}
.about-us4,
.product-supply2 {
  position: absolute;
  top: 119px;
  left: 803px;
}
.about-us4 {
  top: 463px;
  left: 723px;
  font-size: var(--font-size-45xl);
  line-height: 90px;
  text-align: center;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.project-solution2 {
  position: absolute;
  top: 119px;
  left: 1011px;
  cursor: pointer;
}
.about-us5,
.our-projects2 {
  position: absolute;
  top: 119px;
  left: 1225px;
}
.about-us5 {
  left: 1405px;
  color: var(--color-peru-100);
}
.mask-group-icon7 {
  position: absolute;
  top: 119px;
  left: 1546px;
  width: 23px;
  height: 23px;
  object-fit: cover;
}
.macbook-pro-16-8-item {
  position: absolute;
  top: 2581px;
  left: -36px;
  background-color: var(--color-antiquewhite-200);
  width: 1791px;
  height: 800px;
}
.founder-ceo,
.harmeet-singh-anand {
  position: absolute;
  top: 4272px;
  left: 192px;
  line-height: 27px;
  display: inline-block;
  color: var(--color-darkslategray-100);
  text-align: center;
  width: 314px;
  height: 26px;
}
.harmeet-singh-anand {
  top: 4223px;
  left: 149px;
  font-size: var(--font-size-17xl);
  color: var(--color-peru-100);
  width: 400px;
}
.founder-ceo1 {
  top: 4272px;
  left: 1219px;
  color: var(--color-darkslategray-100);
  width: 315px;
}
.founder-ceo1,
.founder-ceo2,
.harmeet-singh-anand1,
.harmeet-singh-anand2 {
  position: absolute;
  line-height: 27px;
  display: inline-block;
  text-align: center;
  height: 26px;
}
.harmeet-singh-anand1 {
  top: 4220px;
  left: 1173px;
  font-size: var(--font-size-17xl);
  color: var(--color-peru-100);
  width: 407px;
}
.founder-ceo2,
.harmeet-singh-anand2 {
  top: 4272px;
  left: 704px;
  color: var(--color-darkslategray-100);
  width: 315px;
}
.harmeet-singh-anand2 {
  top: 4220px;
  left: 657px;
  font-size: var(--font-size-17xl);
  color: var(--color-peru-100);
  width: 408px;
}
.ellipse-div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -0.01%;
  bottom: 0;
  left: 0.01%;
  border-radius: 50%;
  border: 1.1px solid var(--white);
  box-sizing: border-box;
}
.div24 {
  position: absolute;
  height: 50%;
  width: 38.89%;
  top: 25%;
  left: 27.79%;
  letter-spacing: 1.65px;
  font-weight: 500;
  display: inline-block;
}
.furniture3,
.iconmapsplace-24px3 {
  position: relative;
  width: 14.89px;
  height: 14.89px;
  opacity: 0.85;
}
.furniture3 {
  font-size: 12.41px;
  letter-spacing: 1.65px;
  font-weight: 500;
  display: inline-block;
  width: 74.47px;
  height: 9.1px;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.iconmapsplace-24px-parent1 {
  position: absolute;
  width: 6.7%;
  top: calc(50% + 2084.86px);
  right: 22%;
  left: 71.3%;
  border-radius: 29.79px;
  background-color: var(--color-gray-400);
  display: flex;
  flex-direction: row;
  padding: 8.274949073791504px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 9.93px;
  font-size: 9.93px;
  color: var(--white);
}
.group-child4 {
  position: absolute;
  top: 0;
  left: 106px;
  background-color: var(--color-darkslategray-100);
  width: 1728px;
  height: 548px;
}
.frame-child1 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 2px;
  opacity: 0.2;
}
.manish-malhotra-all2 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 20px;
  display: inline-block;
  width: 302px;
  height: 17px;
  flex-shrink: 0;
  opacity: 0.5;
}
.vector-container {
  position: absolute;
  top: 453px;
  left: 0;
  width: 1922px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-2xs);
}
.company2 {
  font-weight: 600;
}
.about-us6,
.company2 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.about-us-container,
.company-container,
.legal-container,
.need-help-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us-container {
  gap: var(--gap-xl);
  font-size: var(--font-size-smi);
  color: var(--color);
}
.company-container,
.legal-container,
.need-help-container {
  position: absolute;
  top: 0;
  left: 0;
  gap: var(--gap-21xl);
}
.legal-container,
.need-help-container {
  top: 0.06px;
  left: 630.45px;
}
.need-help-container {
  left: 282.45px;
}
.frame-parent1,
.group-child5 {
  position: absolute;
  top: 0.06px;
  left: 1364px;
}
.frame-parent1 {
  top: 109px;
  left: 266px;
  width: 1611px;
  height: 233px;
}
.enter-your-email2 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 180px;
  height: 14px;
  flex-shrink: 0;
}
.carbonlocation-filled-icon2 {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.enter-your-email-address-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-wrapper4 {
  border: 0.5px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 256px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-base);
}
.frame-wrapper3,
.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsletter-container {
  gap: var(--gap-21xl);
}
.frame-wrapper3 {
  position: absolute;
  top: 109px;
  left: 1338px;
}
.furniture4 {
  position: relative;
  font-size: 12.41px;
  letter-spacing: 1.65px;
  font-weight: 500;
  display: inline-block;
  width: 75px;
  height: 9px;
  flex-shrink: 0;
  opacity: 0.85;
  mix-blend-mode: normal;
}
.iconmapsplace-24px-parent2 {
  position: absolute;
  width: 6.05%;
  top: 381.36px;
  right: 24.34%;
  left: 69.6%;
  border-radius: 29.79px;
  background-color: var(--color-gray-400);
  display: flex;
  flex-direction: row;
  padding: 8.274949073791504px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 9.93px;
  font-size: 9.93px;
}
.group-child6,
.group-div {
  position: absolute;
  top: 381px;
  left: 1470.4px;
  width: 203.39px;
  height: 32.16px;
}
.group-div {
  top: 4503px;
  left: -106px;
  width: 1922px;
  height: 548px;
  font-size: var(--font-size-mini);
  color: var(--white);
}
.group-icon11 {
  position: absolute;
  width: 1.16%;
  top: 119px;
  right: 5.9%;
  left: 92.94%;
  max-width: 100%;
  overflow: hidden;
  height: 23px;
}
.lorem-ipsum-dolor2 {
  position: absolute;
  top: 568px;
  left: 427px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  width: 875px;
  height: 106px;
}
.lorem-ipsum-dolor3,
.lorem-ipsum-dolor4,
.lorem-ipsum-dolor5,
.lorem-ipsum-dolor6 {
  position: absolute;
  line-height: 30px;
  color: var(--color-darkslategray-100);
  display: inline-block;
}
.lorem-ipsum-dolor3 {
  top: 3640px;
  left: 427px;
  text-align: center;
  width: 875px;
  height: 106px;
}
.lorem-ipsum-dolor4,
.lorem-ipsum-dolor5,
.lorem-ipsum-dolor6 {
  top: 1572px;
  left: 202px;
  width: 509px;
  height: 404px;
}
.lorem-ipsum-dolor5,
.lorem-ipsum-dolor6 {
  top: 1976px;
  width: 541px;
  height: 122px;
}
.lorem-ipsum-dolor6 {
  top: 2143px;
  height: 161px;
}
.what-we-do {
  top: 2692px;
  left: 672px;
}
.meet-our-team,
.our-mission,
.what-we-do {
  position: absolute;
  font-size: var(--font-size-45xl);
  line-height: 90px;
  color: var(--color-darkslategray-100);
  text-align: center;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.meet-our-team {
  top: 3550px;
  left: 634px;
}
.our-mission {
  top: 1454px;
  left: calc(50% - 662px);
}
.macbook-pro-16-8-child1,
.macbook-pro-16-8-child2,
.macbook-pro-16-8-inner {
  position: absolute;
  top: 2845px;
  left: 100px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslategray-100);
  width: 454px;
  height: 361px;
}
.macbook-pro-16-8-child1,
.macbook-pro-16-8-child2 {
  left: 1164px;
}
.macbook-pro-16-8-child2 {
  left: 632px;
}
.residential {
  position: absolute;
  top: 2905px;
  left: 202px;
  line-height: 27px;
  display: inline-block;
  width: 323px;
}
.c4dc2ceb1d332f57326fcc09a5449e-icon {
  position: absolute;
  top: 1390px;
  left: 867px;
  border-radius: var(--br-8xs);
  width: 326px;
  height: 458px;
  object-fit: cover;
}
.c4dc2ceb1d332f57326fcc09a5449e-icon1,
.macbook-pro-16-8-child3 {
  position: absolute;
  left: 1256px;
  border-radius: var(--br-8xs);
  width: 326px;
}
.c4dc2ceb1d332f57326fcc09a5449e-icon1 {
  top: 1396px;
  height: 457px;
  object-fit: cover;
}
.macbook-pro-16-8-child3 {
  top: 1390px;
  background-color: #dc7217;
  height: 463px;
}
.we-build {
  margin: 0;
}
.we-build-what-container {
  position: absolute;
  top: 1546px;
  left: 1325px;
  font-size: var(--font-size-17xl);
  line-height: 50px;
  display: inline-block;
  text-align: center;
  width: 188px;
  height: 158px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.lorem-ipsum-dolor7 {
  position: absolute;
  top: 2955px;
  left: 162px;
  line-height: 30px;
  display: inline-block;
  width: 331px;
  height: 404px;
}
.group-icon12 {
  position: absolute;
  width: 1.74%;
  top: 2903px;
  right: 88.89%;
  left: 9.38%;
  max-width: 100%;
  overflow: hidden;
  height: 26px;
}
.lorem-ipsum-dolor9,
.residential2 {
  position: absolute;
  top: 2905px;
  left: 1267px;
  line-height: 27px;
  display: inline-block;
  width: 323px;
}
.lorem-ipsum-dolor9 {
  top: 2955px;
  left: 1227px;
  line-height: 30px;
  width: 331px;
  height: 404px;
}
.group-icon14 {
  position: absolute;
  width: 1.74%;
  top: 2903px;
  right: 27.26%;
  left: 71.01%;
  max-width: 100%;
  overflow: hidden;
  height: 26px;
}
.lorem-ipsum-dolor10,
.residential3 {
  position: absolute;
  top: 2905px;
  left: 735px;
  line-height: 27px;
  display: inline-block;
  width: 323px;
}
.lorem-ipsum-dolor10 {
  top: 2955px;
  left: 695px;
  line-height: 30px;
  width: 331px;
  height: 404px;
}
.group-icon15 {
  position: absolute;
  width: 1.74%;
  top: 2903px;
  right: 58.04%;
  left: 40.22%;
  max-width: 100%;
  overflow: hidden;
  height: 26px;
}
.macbook-pro-16-8-child4 {
  position: absolute;
  top: 3754px;
  left: 143px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-100);
  width: 416px;
  height: 417px;
}
.group-icon16 {
  position: absolute;
  width: 12.33%;
  top: 3840.84px;
  right: 73.54%;
  left: 14.13%;
  max-width: 100%;
  overflow: hidden;
  height: 245.05px;
}
.macbook-pro-16-8-child5 {
  position: absolute;
  top: 3755px;
  left: 1169px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-100);
  width: 416px;
  height: 417px;
}
.group-icon17 {
  position: absolute;
  width: 12.33%;
  top: 3841.34px;
  right: 14.19%;
  left: 73.48%;
  max-width: 100%;
  overflow: hidden;
  height: 245.05px;
}
.macbook-pro-16-8-child6 {
  position: absolute;
  top: 3755px;
  left: 657px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-100);
  width: 414px;
  height: 417px;
}
.group-icon18 {
  position: absolute;
  width: 12.33%;
  top: 3841.52px;
  right: 43.89%;
  left: 43.78%;
  max-width: 100%;
  overflow: hidden;
  height: 245.05px;
}
.ff966f8452b8bdc1035c42e2eb5a1d-icon,
.ff966f8452b8bdc1035c42e2eb5a1d-icon1 {
  position: absolute;
  top: 1910px;
  left: 867px;
  border-radius: var(--br-8xs);
  width: 326px;
  height: 458px;
  object-fit: cover;
}
.ff966f8452b8bdc1035c42e2eb5a1d-icon1 {
  top: 1912px;
  left: 1256px;
  height: 456px;
}
.macbook-pro-16-8 {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 5051px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-josefin-sans);
}
