.span {
  font-size: var(--font-size-xl);
}
.staircases-wooden-staircases-container {
  position: absolute;
  top: 265px;
  left: 157px;
  font-weight: 500;
  display: inline-block;
  width: 658px;
  height: 22px;
  font-size: var(--font-size-lg);
}
.group-child {
  position: absolute;
  top: 0;
  left: 117.97px;
  background-color: var(--color-darkslategray-100);
  width: 1744.18px;
  height: 549.13px;
}
.frame-child {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 2px;
  opacity: 0.2;
}
.manish-malhotra-all {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 20px;
  display: inline-block;
  width: 302px;
  height: 17px;
  flex-shrink: 0;
  opacity: 0.5;
}
.vector-parent {
  position: absolute;
  top: 451.93px;
  left: 0;
  width: 1940px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-2xs);
}
.company {
  font-weight: 600;
}
.about-us,
.company {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.about-us-parent,
.company-parent,
.legal-parent,
.need-help-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us-parent {
  gap: var(--gap-xl);
  font-size: var(--font-size-smi);
  color: var(--color);
}
.company-parent,
.legal-parent,
.need-help-parent {
  position: absolute;
  top: 0;
  left: 0;
  gap: var(--gap-21xl);
}
.legal-parent,
.need-help-parent {
  top: 0.06px;
  left: 636.36px;
}
.need-help-parent {
  left: 285.1px;
}
.frame-parent,
.group-item {
  position: absolute;
  top: 0.06px;
  left: 1376.77px;
}
.frame-parent {
  top: 107.22px;
  left: 268.49px;
  width: 1626.09px;
  height: 233px;
}
.enter-your-email {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 180px;
  height: 14px;
  flex-shrink: 0;
}
.carbonlocation-filled-icon {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.enter-your-email-address-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-container {
  border: 0.5px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 256px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-base);
}
.frame-wrapper,
.newsletter-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsletter-parent {
  gap: var(--gap-21xl);
}
.frame-wrapper {
  position: absolute;
  top: 107.22px;
  left: 1350.53px;
  width: 258.4px;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1940px;
  height: 549.13px;
}
.iconmapsplace-24px-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -0.01%;
  bottom: 0;
  left: 0.01%;
  border-radius: 50%;
  border: 1.1px solid var(--white);
  box-sizing: border-box;
}
.div {
  position: absolute;
  height: 50%;
  width: 38.89%;
  top: 25%;
  left: 27.79%;
  letter-spacing: 1.65px;
  font-weight: 500;
  display: inline-block;
}
.furniture,
.iconmapsplace-24px {
  position: relative;
  width: 14.89px;
  height: 14.89px;
  opacity: 0.85;
}
.furniture {
  font-size: 12.41px;
  letter-spacing: 1.65px;
  font-weight: 500;
  display: inline-block;
  width: 75px;
  height: 9px;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.iconmapsplace-24px-parent {
  position: absolute;
  width: 6.05%;
  top: 370.47px;
  right: 24.35%;
  left: 69.59%;
  border-radius: 29.79px;
  background-color: var(--color-gray-400);
  height: 31.51px;
  display: flex;
  flex-direction: row;
  padding: 8.274949073791504px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 9.93px;
  font-size: 9.93px;
}
.group-inner,
.group-parent {
  position: absolute;
  top: 370.12px;
  left: 1484.04px;
  width: 205.29px;
  height: 32.23px;
}
.group-parent {
  top: 3182px;
  left: -119px;
  width: 1940px;
  height: 549.13px;
  font-size: var(--font-size-mini);
  color: var(--white);
}
.ba75caf6a1679d0facced98a1fba8d-icon {
  position: absolute;
  top: 371px;
  left: 213px;
  border-radius: var(--br-3xs);
  width: 485px;
  height: 585px;
  object-fit: cover;
}
.ba75caf6a1679d0facced98a1fba8d-icon1,
.ba75caf6a1679d0facced98a1fba8d-icon2 {
  position: absolute;
  top: 979px;
  left: 213px;
  border-radius: var(--br-3xs);
  width: 80px;
  height: 96px;
  object-fit: cover;
}
.ba75caf6a1679d0facced98a1fba8d-icon2 {
  left: 618px;
}
.ba75caf6a1679d0facced98a1fba8d-icon3,
.ba75caf6a1679d0facced98a1fba8d-icon4,
.ba75caf6a1679d0facced98a1fba8d-icon5 {
  position: absolute;
  top: 979px;
  left: 517px;
  border-radius: var(--br-3xs);
  width: 79px;
  height: 96px;
  object-fit: cover;
}
.ba75caf6a1679d0facced98a1fba8d-icon4,
.ba75caf6a1679d0facced98a1fba8d-icon5 {
  left: 414px;
  width: 82px;
}
.ba75caf6a1679d0facced98a1fba8d-icon5 {
  left: 315px;
  width: 79px;
}
.mask-group-icon {
  position: absolute;
  top: 255px;
  left: 117px;
  width: 36px;
  height: 36px;
}
.macbook-pro-16-11-child,
.macbook-pro-16-11-inner,
.macbook-pro-16-11-item,
.rectangle-div {
  position: absolute;
  top: 979px;
  left: 314px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-500);
  width: 80px;
  height: 96px;
}
.macbook-pro-16-11-inner,
.macbook-pro-16-11-item,
.rectangle-div {
  left: 618px;
}
.macbook-pro-16-11-inner,
.rectangle-div {
  left: 517px;
}
.rectangle-div {
  left: 415px;
  width: 81px;
}
.b,
.b1,
.wooden-floating-staircase {
  position: absolute;
  top: 391px;
  left: 814px;
  font-size: var(--font-size-29xl);
}
.b,
.b1 {
  top: 565px;
  left: 810px;
}
.b1 {
  top: 691px;
  left: 881px;
  font-size: var(--font-size-13xl);
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  width: 13px;
  height: 38px;
}
.delivery,
.lorem-ipsum-dolor,
.mo-for-18,
.product-overview,
.we-are-here {
  position: absolute;
  top: 455px;
  left: 814px;
  line-height: 30px;
  display: inline-block;
  width: 812px;
  height: 59px;
}
.delivery,
.mo-for-18,
.product-overview,
.we-are-here {
  top: 620px;
  left: 810px;
  height: 106px;
}
.delivery,
.product-overview,
.we-are-here {
  top: 783px;
  left: 814px;
  font-size: var(--font-size-xl);
  width: 129px;
  height: 26px;
}
.product-overview,
.we-are-here {
  top: 962px;
  left: 805px;
  width: 213px;
}
.we-are-here {
  top: 1324px;
  font-weight: 600;
}
.description,
.weights-dimensions {
  left: 805px;
  width: 319px;
  height: 26px;
}
.description {
  position: absolute;
  top: 1037px;
  line-height: 30px;
  display: inline-block;
}
.weights-dimensions {
  top: 1121px;
}
.call-us,
.enter-pincode,
.weights-dimensions {
  position: absolute;
  line-height: 30px;
  display: inline-block;
}
.enter-pincode {
  top: 835px;
  left: 828px;
  font-size: var(--font-size-xl);
  width: 179px;
  height: 42px;
}
.call-us {
  top: 1308px;
  left: 1321px;
  font-weight: 600;
  width: 165px;
  height: 38px;
}
.call-us,
.reviews1 {
  font-size: var(--font-size-lg);
}
.reviews {
  position: absolute;
  top: 265px;
  left: 1552px;
  line-height: 30px;
  display: inline-block;
  width: 76px;
  height: 106px;
  font-size: var(--font-size-xl);
}
.group-icon,
.group-icon1,
.group-icon2,
.group-icon3,
.group-icon4 {
  position: absolute;
  width: 1.16%;
  top: 265px;
  right: 17.13%;
  left: 81.71%;
  max-width: 100%;
  overflow: hidden;
  height: 24.16px;
}
.group-icon1,
.group-icon2,
.group-icon3,
.group-icon4 {
  right: 10.88%;
  left: 87.96%;
}
.group-icon2,
.group-icon3,
.group-icon4 {
  right: 12.44%;
  left: 86.4%;
}
.group-icon3,
.group-icon4 {
  right: 14%;
  left: 84.84%;
}
.group-icon4 {
  right: 15.57%;
  left: 83.28%;
}
.macbook-pro-16-11-child1 {
  position: absolute;
  top: 1302px;
  left: 1291px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 118px;
  height: 40px;
}
.chat-with-us {
  position: absolute;
  top: 1308px;
  left: 1458px;
  font-size: var(--font-size-lg);
  line-height: 30px;
  font-weight: 600;
  display: inline-block;
  width: 165px;
  height: 38px;
}
.macbook-pro-16-11-child2,
.macbook-pro-16-11-child3,
.macbook-pro-16-11-child4,
.macbook-pro-16-11-child5,
.macbook-pro-16-11-child6 {
  position: absolute;
  top: 1302px;
  left: 1425px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 167px;
  height: 40px;
}
.macbook-pro-16-11-child3,
.macbook-pro-16-11-child4,
.macbook-pro-16-11-child5,
.macbook-pro-16-11-child6 {
  top: 818px;
  left: 806px;
  width: 274px;
  height: 60px;
}
.macbook-pro-16-11-child4,
.macbook-pro-16-11-child5,
.macbook-pro-16-11-child6 {
  top: 673px;
  left: 801px;
  width: 173px;
}
.macbook-pro-16-11-child5,
.macbook-pro-16-11-child6 {
  left: 993px;
  width: 79px;
}
.macbook-pro-16-11-child6 {
  left: 1098px;
  background-color: var(--color-peru-100);
  border: 1px solid var(--color-peru-100);
  width: 278px;
}
.group-icon5 {
  position: absolute;
  width: 1.97%;
  top: 688px;
  right: 39.24%;
  left: 58.8%;
  max-width: 100%;
  overflow: hidden;
  height: 30.25px;
}
.add-to-cart,
.b2,
.b3 {
  position: absolute;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  height: 38px;
}
.add-to-cart {
  top: 691px;
  left: 1157px;
  font-size: var(--font-size-3xl);
  color: var(--white);
  width: 212px;
}
.b2,
.b3 {
  top: 689px;
  left: 936px;
  font-size: var(--font-size-13xl);
  width: 13px;
}
.b3 {
  top: 684px;
  left: 821px;
}
.line-div,
.macbook-pro-16-11-child7,
.macbook-pro-16-11-child8 {
  position: absolute;
  top: 1007.5px;
  left: 796.5px;
  border-top: 1px solid var(--color-darkslategray-300);
  box-sizing: border-box;
  width: 793px;
  height: 1px;
}
.macbook-pro-16-11-child7,
.macbook-pro-16-11-child8 {
  top: 1175.5px;
}
.macbook-pro-16-11-child8 {
  top: 1091.5px;
}
.compare-similar-items,
.have-a-question,
.specifications {
  position: absolute;
  top: 1205px;
  left: 805px;
  line-height: 30px;
  display: inline-block;
  width: 319px;
  height: 26px;
}
.compare-similar-items,
.have-a-question {
  top: 1289px;
}
.compare-similar-items {
  top: 1482px;
  left: 109px;
  font-size: var(--font-size-17xl);
  width: 394px;
}
.macbook-pro-16-11-child10,
.macbook-pro-16-11-child9 {
  position: absolute;
  top: 1386.5px;
  left: 796.5px;
  border-top: 1px solid var(--color-darkslategray-300);
  box-sizing: border-box;
  width: 793px;
  height: 1px;
}
.macbook-pro-16-11-child10 {
  top: 1259.5px;
}
.mask-group-icon1,
.mask-group-icon2,
.mask-group-icon3 {
  position: absolute;
  top: 1116px;
  left: 1544px;
  width: 36px;
  height: 36px;
}
.mask-group-icon2,
.mask-group-icon3 {
  top: 1032px;
}
.mask-group-icon3 {
  top: 1200px;
}
.div1,
.wooden-floating-staircase1 {
  position: absolute;
  top: 2146px;
  left: 128px;
}
.div1 {
  top: 2179px;
}
.div2,
.wooden-floating-staircase2 {
  position: absolute;
  top: 2146px;
  left: 649px;
}
.div2 {
  top: 2179px;
}
.div3,
.wooden-floating-staircase3 {
  position: absolute;
  top: 2150px;
  left: 1163px;
}
.div3 {
  top: 2183px;
}
.ba75caf6a1679d0facced98a1fba8d-icon6,
.ba75caf6a1679d0facced98a1fba8d-icon7,
.ba75caf6a1679d0facced98a1fba8d-icon8 {
  position: absolute;
  top: 1548px;
  left: 105px;
  border-radius: var(--br-3xs);
  width: 462px;
  height: 558px;
  object-fit: cover;
}
.ba75caf6a1679d0facced98a1fba8d-icon7,
.ba75caf6a1679d0facced98a1fba8d-icon8 {
  left: 1143px;
}
.ba75caf6a1679d0facced98a1fba8d-icon8 {
  left: 624px;
}
.frequently-bought-together {
  position: absolute;
  top: 2306px;
  left: 113px;
  font-size: var(--font-size-17xl);
  line-height: 30px;
  display: inline-block;
  width: 563px;
  height: 26px;
}
.div4,
.wooden-floating-staircase4 {
  position: absolute;
  top: 2970px;
  left: 132px;
}
.div4 {
  top: 3003px;
}
.div5,
.wooden-floating-staircase5 {
  position: absolute;
  top: 2970px;
  left: 653px;
}
.div5 {
  top: 3003px;
}
.div6,
.wooden-floating-staircase6 {
  position: absolute;
  top: 2974px;
  left: 1167px;
}
.div6 {
  top: 3007px;
}
.ba75caf6a1679d0facced98a1fba8d-icon10,
.ba75caf6a1679d0facced98a1fba8d-icon11,
.ba75caf6a1679d0facced98a1fba8d-icon9 {
  position: absolute;
  top: 2372px;
  left: 109px;
  border-radius: var(--br-3xs);
  width: 462px;
  height: 558px;
  object-fit: cover;
}
.ba75caf6a1679d0facced98a1fba8d-icon10,
.ba75caf6a1679d0facced98a1fba8d-icon11 {
  left: 1147px;
}
.ba75caf6a1679d0facced98a1fba8d-icon11 {
  left: 628px;
}
.macbook-pro-16-11-child11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-antiquewhite-100);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 1728px;
  height: 191px;
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 543px;
  height: 305px;
  object-fit: cover;
}
.product-supply {
  position: absolute;
  top: 97px;
  left: 803px;
}
.about-us1,
.our-projects,
.project-solution {
  position: absolute;
  top: 97px;
  left: 1011px;
}
.about-us1,
.our-projects {
  left: 1225px;
}
.about-us1 {
  left: 1405px;
}
.group-icon6,
.mask-group-icon4 {
  position: absolute;
  top: 97px;
  height: 23px;
}
.mask-group-icon4 {
  left: 1546px;
  width: 23px;
  object-fit: cover;
}
.group-icon6 {
  width: 1.16%;
  right: 5.79%;
  left: 93.06%;
  max-width: 100%;
  overflow: hidden;
}
.macbook-pro-16-11 {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 3731px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-josefin-sans);
}
